.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid burlywood;
  margin-top: 5px;
  border-radius: 10px;
}

.box {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: burlywood;
  cursor: pointer;
}
.box p {
  margin: 0 5px 0 5px;
}

.search {
  width: 70%;
  margin: 5px;
  margin-bottom: 20px;
  height: 2.8em;
  border-radius: 10px;
  border: none;
  background: burlywood;
  color: black;
  padding: 10px;
  text-align: center;
}

.search:focus {
  outline: none;
}

.favourites_container {
  border: 2px solid burlywood;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.favourites_list {
  display: flex;
  list-style: none;
}
